<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:include filename="wheel.urdf.xacro"/>
  <xacro:include filename="base.urdf.xacro"/>
  <xacro:include filename="middle_arm.urdf.xacro"/>
  <xacro:include filename="front_arm.urdf.xacro"/>
  <xacro:include filename="back_arm.urdf.xacro"/>

  <link name="base_footprint"/>

  <joint name="base_footprint_to_base_link_joint" type="fixed">
    <parent link="base_footprint"/>
    <child link="base_link"/>
    <origin xyz="0 0 0.5"/>
    <axis xyz="0 0 1"/>
  </joint>

  <link name="base_link"/>

  <xacro:base name="base" parent="base_link">
    <origin xyz="0 0 0" rpy="0 0 ${pi/2}"/>
    <mirror>
      <origin rpy="0 0 0"/>
    </mirror>
  </xacro:base>

  <xacro:middle_arm name="left_middle_arm" parent="base">
    <origin xyz="${0.255/2 + 0.05} ${0.045-0.225} 0" rpy="0 ${pi/2} 0"/>
    <mirror>
      <origin rpy="0 0 0"/>
    </mirror>
  </xacro:middle_arm>

  <xacro:front_arm name="left_front_arm" parent="left_middle_arm">
    <origin xyz="${0.11/2 + 0.045/2} 0 0" rpy="0 0 0"/>
    <mirror>
      <origin rpy="0 0 0"/>
    </mirror>
  </xacro:front_arm>

  <xacro:wheel name="left_front_wheel_steering" parent="left_front_arm">
    <origin xyz="${0.15+0.045+0.11-0.035} -0.2 ${0.03-0.5}" rpy="0 ${pi/2} 0"/>
    <mirror>
      <origin rpy="0 0 0"/>
    </mirror>
  </xacro:wheel>

  <xacro:wheel name="left_front_wheel" parent="left_middle_arm">
    <origin xyz="${0.15+0.045+0.11-0.035} -0.2 ${0.03-0.5}" rpy="0 ${pi/2} 0"/>
    <mirror>
      <origin rpy="0 0 0"/>
    </mirror>
  </xacro:wheel>

  <xacro:back_arm name="left_back_arm" parent="left_middle_arm">
    <origin xyz="${0.045/2 + 0.11 - 0.07/2} ${0.18 + 0.2} ${-0.075}" rpy="0 0 0"/>
    <mirror>
      <origin rpy="0 0 0"/>
    </mirror>
  </xacro:back_arm>


  <xacro:middle_arm name="right_middle_arm" parent="base">
    <origin xyz="${-0.255/2 - 0.05} ${0.045-0.225} 0" rpy="${pi} ${pi/2} 0"/>
    <mirror>
      <origin rpy="0 0 ${pi}"/>
    </mirror>
  </xacro:middle_arm>

</robot>
