<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:include filename="inertial_macros.urdf.xacro"/>

	<xacro:arg name="ignition" default="false"/>

	<xacro:macro name="right_middle_arm" params="name parent *origin">

    <joint name="${name}_shoulder_axis_joint" type="fixed">
			<parent link="${parent}"/>
			<child link="${name}_shoulder_axis"/>
			<xacro:insert_block name="origin"/>
			<axis xyz="0 0 1"/>
		</joint>

    <link name="${name}_shoulder_axis">
			<visual>
				<geometry>
					<mesh filename="package://forg_description/meshes/shoulder_axis.dae"/>
				</geometry>
			</visual>
			<collision>
				<geometry>
					<mesh filename="package://forg_description/meshes/shoulder_axis.dae"/>
				</geometry>
			</collision>
      <xacro:inertial_cylinder mass="0.05" length="0.17" radius="0.00625"/> <!-- TODO replace shoulder axis mass with real value -->
		</link>

    <joint name="${name}_joint" type="fixed">
			<parent link="${name}_shoulder_axis"/>
			<child link="${name}"/>
      <origin xyz="0 0 ${0.005}" rpy="0 ${-pi/2} 0"/>
			<axis xyz="0 0 1"/>
		</joint>

    <link name="${name}">
			<visual>
				<geometry>
					<mesh filename="package://forg_description/meshes/middle_arm.dae"/>
				</geometry>
			</visual>
			<collision>
				<geometry>
					<mesh filename="package://forg_description/meshes/middle_arm.dae"/>
				</geometry>
			</collision>
      <xacro:inertial_box mass="0.05" x="0.17" y="0.00625" z="0.8"/> <!-- TODO replace shoulder axis mass with real value -->
		</link>

	</xacro:macro>
</robot>
