<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:include filename="inertial_macros.urdf.xacro"/>
  <xacro:include filename="wheel.urdf.xacro"/>

	<xacro:arg name="ignition" default="false"/>

	<xacro:macro name="wheel_steering" params="name parent *origin **mirror">

  <xacro:wheel name="front_left_wheel" parent="base_link">
    <origin xyz="0 ${0.15+0.045+0.11-0.035} ${0.03-0.5}" rpy="${pi/2} 0 ${-pi}"/>
    <mirror>
      <origin rpy="0 0 0"/>
    </mirror>
  </xacro:wheel>

	</xacro:macro>
</robot>
